/*
negro: #000000
gris: #4D4D4F
blanco: #D5D5DA
azul claro: #86A5BF
azul: #395C79
verde: #14FF7D
rosa: #CC3325
amarillo: #FAD90B
*/
html{
  font-family: 'Fresca', sans-serif;
}
a{
  text-decoration: none;
  color: #CC3325;
}
img{
  max-width: 100%;
}
a:hover{
  opacity: 0.5;
}
.title{
  text-transform: uppercase;
  text-align: center;
}
.container{
  background: #86A5BF;  /* Respaldo */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  max-width: 960px;
  width: 100%;
  height: 80vh;
  background: white;
  /*box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color;*/
  box-shadow: 0 4px 8px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.23);
  border-radius: 4px;
  position: relative;
  padding: 1.8em;
  overflow: scroll;
}
.actions{
  position:absolute;
  top: 1em;
  right: 1em;
}
.close{
  height: 35px;
  width: 35px;
  color: white;
  background-color: #669283;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.23);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paragraph{
  line-height: 1.8em;
  font-weight: 200;
}
.fa-star{
  color: #FAD90B;
}
.table{
  width:100%;
  border-spacing:0;
}
.table td, .table th{
  padding:1em;
  text-align:left;
}
.table tr:nth-child(even){
  background-color: #D5F5E3;
}
.title-item{
  /*border-bottom-style: solid;
  border-width: 2px;
  border-color: #6AC5A7;*/
  font-size: 2em;
  border-bottom: #6AC5A7 solid 2px; /*shorthand properties*/
  padding-bottom: 1em;
}
.main-image{
  height: 300px;
  float: left;
  margin-right: 1.5em;
}
.autor{
  font-weight: bold;
  font-size: 1em;
  color: #669283;
  margin-top: 1em;
  display: inline-block;
}
.position{
  background-color: #6AC5A7;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;
}
@media (max-width:600px){
  .content{
    padding:1em;
  }
  td{
    display: block;
    width: 100%;
  }
  td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #6AC5A7;
  }
  th{
    display: none;
  }
}
@media (min-height:550px){
  .content{
    height: 500px;
  }
}
/* mobile first */
/* .content{
  padding:1em;
}
td{
  display: block;
  width: 100%;
}
td:nth-of-type(1){
  font-size: 1.5em;
  font-weight: bold;
  color: #6AC5A7;
}
th{
  display: none;
}@media(min-width:900px){
  th{
    display: table-cell;
  }
  td{
    width: auto;
    display: table-cell;
  }
  td:nth-of-type(1){
    font-size: 1em;
  }
  .content{
    padding: 1.8em;
  }
} */
