/* fuentes */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,500,700|Roboto:400,500,700,900&display=swap');
/* estilos globales */
body{
  font-family: 'Roboto mono', monospace;
  margin: 0;
  padding: 0;    
}
.home-body{
  /* a continuacion este es un truco para fijar el contenido en el height del 
  navegador, y que no tengamos scroll */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.grid-container{
  /* esta clase posiciona el contenido dentro de unos limites que establecemos */
  max-width: 980px;
  margin: auto;
}
a{
  text-decoration: none;
  display: inline;
  color: black;
}
/* estilos para index.html */
/* estilos para el header */
header{
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0;
}
.header-icons-container{
  width: inherit;
  height: 50px;  
  display: grid;
  background: #47cfac;
}
.icons{
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 40px;
}
.icons span{
  color: white;  
}
nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;  
}
.nav-logo-container{  
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.nav-logo-container img{
  width: 220px;
}
.profile-link{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;  
}
.profile-link a{
  color: black;  
  border-bottom: 1px solid black;
}
/* estilos para el home */
.home-main{  
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url("../assets/images/Cover.png");
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
}
.home-main section{
  display: grid;
  grid-column: 2; /* de esta manera le decimos que el contenido que esta en este 
  contenedor se ubique en la segunda columna */
  justify-items: center;
  align-items: center;
  height: 300px;
}
.home-main-text{
  font-family: 'Roboto mono', monospace;
  font-size: 30px;
  font-weight: 700px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
}
.home-main-button{
  width: 110px;
  height: 50px;
  background: #61f2f5;
}
.home-main-button a{
  font-size: 18px;
  font-weight: bold;
}

/* estilos para blogs.html */
/* estilos para la parte pricipal */

.blogs-main{
  display: grid;
}
.blogs-news-container{
  background-color: #e6e9ed;
  padding: 0 50px 40px;
}
.blogs-main-new{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}
.blogs-news-img-container{
  grid-column: 1;
}
.blogs-news-img-container img{
  width: 85%;
}
.blogs-news-info-container{
  grid-column: 2;
}
.blogs-news-info-container p{
  margin-bottom: 35px;
}
/* esta clase la utilizaremos para todos los botones, asi que podemos decir que es generico */
.blogs-button{
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
}
/* estilos para la seccion de los post */
.blogs-post-container{
  padding: 0 50px 40px;
}
.blogs-post-container h3{
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}
.post-container{
  display: inline-block;
  max-width: 30%;
  padding-left: 10px;
  margin-bottom: 50px;
}
.post-container p{
  margin-bottom: 35px;
}
.post-container img{
  width: 100%
}
/* estilos para el footer */
footer{  
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 30px solid #47cfac
}
footer p{  
  color: white;
  text-align: center;
  margin-top: 30px;
}

/* blog.html */
/* estilos para la imagen */
.blogpost-img-container{
  padding: 0 50px 40px;
}
.blogpost-img-container img{
  width: 100%;
}
/* estilos para la descripcion, texto */
.blogpost-main-container{
  padding: 0 50px 40px;  
}
.blogpost-main-container h3{
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
}
.blogpost-main-container article h1{
  font-size: 35px;
}
/* estilos para la seccion de contacto */
.contact-main-container{
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-around;
  background: #e6e9ed;     
}
.contact-main-container div img{
  width: 100px;
  margin-right: 20px
}
.contact-main-container div a{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.contact-main-container div p{
  font-size: 14px;
}
.contact-right, .contact-left{
  display: flex;
  align-items: center;
  width: 500px;   
}
/* estilos para perfil.html */
.perfil-main{
  display: grid;
}
.perfil-container{  
  background-color: #e6e9ed;
  padding: 50px 50px 0;
  min-height: 300px;
}
.perfil-main-details{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
}
.perfil-details-img{
  grid-column: 1;
  margin-right: 30px;
}
.perfil-details-img img{ 
  width: 100%;  
}
.perfil-details-info{
  grid-column: 2
}
.perfil-details-info h2{
  font-size: 30px;
  margin-top: 0;
}
/* estilos para la seccion de los proyectos */
.perfil-projects-container{
  padding: 0 50px 40px;
}
.perfil-projects-container h3{
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.project-container{
  display: inline-block;
  max-width: 30%;
  padding-left: 10px;
  margin-bottom: 50px;
}
.project-container h4{
  font-size: 20px;
  font-weight: bold;  
}
